@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
	font-size: 1em;
}

body {
	display: block;
	margin: 0px auto;
}

#wrapper .user {
	color: red;
	z-index: 4;
}

.sidebar {
	grid-area: sidebar;
	height: 100%;
	color: black;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	width: 93%;
}

.sidebar div {
	font-size: 20px;
	padding-top: 15px;
	text-align: center;
}

.content {
	grid-area: content;
}

.header {
	grid-area: header;
}

.footer {
	grid-area: footer;
}

.wrapper {
	color: #444;
	display: grid;
	grid-gap: 1em;
	grid-template-areas: "header" "sidebar" "content" "footer";
}

@media only screen and (min-width: 500px) {
	.wrapper {
		grid-template-columns: 20% auto;
		grid-template-areas: "header   header" "content   content";
	}
}

@media only screen and (min-width: 600px) {
	.wrapper {
		grid-gap: 0px;
		grid-template-columns: 18% auto 40%;
		grid-template-areas: "header  header  header" "sidebar content content";
		max-width: 100%;
		min-height: 100%;
		padding: 0;
		margin: 0 auto;
	}
}

.box {
	/* background-color: #444; */
	border-radius: 0px;
	padding: 0px;
	font-size: 150%;
	margin: 0;
	border: 0;
}

.header {
	color: #FFF;
	background-color: #11171d;
	vertical-align: middle;
	height: 70px;
}

.header .col-logo {
	border-right: #171f26 1.5px solid;
}

.header p {
	color: #FFF;
	font-family: sans-serif;
	font-size: 17px;
	margin: 36px auto 7px;
}

.btnNovo {
	padding-right: 60px; 
	padding-bottom: 20px;
}

.btnVoltar {
	padding-left: 60px;
	padding-top: 40px;
}

img {
	vertical-align: middle;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#nome_usuario {
	display: inline-block;
	position: absolute;
	margin-bottom: .5rem;
	font-size: 17px;
	left: 20px;
	bottom: -50px;
	cursor: pointer;
}

#cont_carrinho {
	position: absolute;
	font-size: 17px;
	bottom: -27px;
	right: 20px;
}

#cart {
	display: inline-block;
	position: absolute;
	margin-bottom: .5rem;
	font-size: 17px;
	right: 40px;
	bottom: -27px;
	cursor: pointer;
}

#total {
	display: inline-block;
	position: absolute;
	margin-bottom: .5rem;
	font-size: 17px;
	left: 40px;
	bottom: 0170px;
	cursor: pointer;
}

#btnFinalizar {
	display: inline-block;
	position: absolute;
	margin-bottom: .5rem;
	font-size: 17px;
	right: 40px;
	bottom: 0170px;
	cursor: pointer;
}

.footer {
	grid-area: footer;
	background-color: #11171d;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 150%;
	position: fixed;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
}

.footer p {
	color: #fff;
	font-size: 14px;
	font-family: sans-serif;
	margin-right: 15px;
	margin-top: 15px;
	text-align: right;
}